@model List<int>

@{
    //VIEWDATA CONTIENE UN LIST, DEBEMOS ALMACENARLO
    //EN UNA VARIABLE DE SU TIPO PARA PODER TRABAJAR CON 
    //LA COLECCION
    List<int> randoms = ViewData["RANDOM"] as List<int>;
}

<h1>Conjetura Collatz Múltiples objetos</h1>

<form method="post">
    <label>Seleccione un número</label>
    <select name="numeroCollatz" class="form-control">
        @foreach (int numero in randoms)
        {
            <option value="@numero">@numero</option>
        }
    </select>
    <button class="btn btn-success">
        Mostrar datos
    </button>
</form>

@if (Model != null){
    <ul>
        @foreach (int num in Model)
        {
            <li>@num</li>
        }
    </ul>
}