<h1>Menú de prácticas</h1>

<ul>
    <li>
        <a asp-controller="Practicas" 
            asp-action="ListaComics">
            Listado de Comics
        </a>
    </li>
    <li>
        <a asp-controller="Practicas"
            asp-action="SumarNumeros">
            Sumar números
        </a>
    </li>
    <li>
        <a asp-controller="Practicas"
            asp-action="TablaMultiplicarSimple">
            Tabla Multiplicar Simple
        </a>
    </li>
    <li>
        <a asp-controller="Practicas"
            asp-action="TablaMultiplicarModel">
            Tabla Multiplicar Model
        </a>
    </li>
    <li>
        <a asp-controller="Practicas"
            asp-action="ConjeturaCollatzMultiple">
            Collatz Múltiples Objetos
        </a>
    </li>
</ul>