<h1>Sumar números POST</h1>

<form method="post">
    <label>Número 1</label>
    <input type="text" name="numero1"
        class="form-control"/><br/>
    <label>Número 2</label>
    <input type="text" name="numero2"
        class="form-control"/><br/>
    <button class="btn btn-info">
        Sumar números
    </button>
</form>

<h1 style="color:blue">
    @ViewData["MENSAJE"]
</h1>