@model List<Persona>

<h1>Controller View Model List</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Email</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Persona person in Model)
        {
            <tr>
                <td>@person.Nombre</td>
                <td>@person.Edad</td>
                <td>@person.Email</td>
                <td>
                    <img src="@person.Imagen"
                        style="width:100px;height: 120px"/>
                </td>
            </tr>
        }
    </tbody>
</table>
