
<h1>Nombre: @ViewBag.Nombre</h1>
<h2 style="color:blue">
    @ViewData["Descripcion"]
</h2>
<h2 style="color:red">
    Año: @ViewData["Year"]
    No controla si existen los datos: @ViewData["PACO"]
</h2>