<h1>Menú Información entre componentes</h1>

<ul>
    <li>
        <a asp-controller="Informacion" asp-action="ControllerView">
            Información Controller -> View
        </a>
    </li>
    <li>
        <a asp-controller="Informacion" asp-action="ControllerViewModel">
            Información Controller View Model
        </a>
    </li>
    <li>
        <a asp-controller="Informacion" asp-action="ControllerViewModelList">
            Información Controller View Model List
        </a>
    </li>
</ul>

