<h1>Enviar información View Controller POST</h1>

<form method="post">
    <label>Nombre: </label>
    <input type="text" class="form-control"
        name="nombre"/>
    <br/>
    <label>Edad: </label>
    <input type="text" class="form-control"
        name="edad"/><br/>
    <button class="btn btn-info">
        Enviar datos
    </button>
</form>

<h1 style="color:blue">
    @ViewData["MENSAJE"]
</h1>