@model Comic

<h1>
    Información Comics POST
</h1>

<form method="post">
    <label>Título comic: </label>
    <input type="text" name="nombre" class="form-control"/><br/>
    <label>Descripción: </label>
    <input type="text" name="descripcion" class="form-control"/><br/>
    <label>Imagen: </label>
    <input type="text" name="imagen" class="form-control"/><br/>
    <button class="btn btn-success">
        Crear Comic
    </button>
</form>

@if (Model != null){
    <div class="card" style="width: 18rem;float:left">
      <img class="card-img-top" src="@Model.Imagen" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">@Model.Nombre</h5>
        <p class="card-text">@Model.Descripcion</p>
      </div>
    </div>
}